## Imports and Load Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("insurance_claims_raw.xlsx")

In [3]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y,NaN
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,?,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y,NaN
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N,NaN
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N,NaN

# EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          998 non-null    float64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            998 non-null    float64
 7   policy_annual_premium        997 non-null    float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      999 non-null    object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              998 non-null    object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                998 non-null    float64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        907 non-null    object
 22  incident_state               998 non-null    object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           996 non-null    float64
 32  injury_claim                 999 non-null    float64
 33  property_claim               999 non-null    float64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: datetime64[ns](2), float64(8), int64(11), object(19)
memory usage: 312.6+ KB

In [5]:
df = df.drop("_c39", axis = 1)

In [6]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
months_as_customer,1000.0,203.954,0.0,115.75,199.5,276.25,479.0,115.113174
age,998.0,38.962926,19.0,32.0,38.0,44.0,64.0,9.135425
policy_number,1000.0,546238.648,100804.0,335980.25,533135.0,759099.75,999435.0,257063.005276
policy_bind_date,1000,2002-02-08 04:40:47.999999872,1990-01-08 00:00:00,1995-09-19 00:00:00,2002-04-01 12:00:00,2008-04-21 12:00:00,2015-02-22 00:00:00,NaN
policy_deductable,998.0,1134.268537,500.0,500.0,1000.0,2000.0,2000.0,611.251914
policy_annual_premium,997.0,1257.001113,433.33,1090.32,1257.83,1415.74,2047.59,244.265051
umbrella_limit,1000.0,1101000.0,-1000000.0,0.0,0.0,0.0,10000000.0,2297406.598118
insured_zip,1000.0,501214.488,430104.0,448404.5,466445.5,603251.0,620962.0,71701.610941
capital-gains,998.0,25176.452906,0.0,0.0,0.0,51075.0,100500.0,27877.379027
capital-loss,1000.0,-26793.7,-111100.0,-51500.0,-23250.0,0.0,0.0,28104.096686
incident_date,1000,2015-01-30 08:02:24,2015-01-01 00:00:00,2015-01-15 00:00:00,2015-01-31 00:00:00,2015-02-15 00:00:00,2015-03-01 00:00:00,NaN
incident_hour_of_the_day,1000.0,11.644,0.0,6.0,12.0,17.0,23.0,6.951373
number_of_vehicles_involved,1000.0,1.839,1.0,1.0,1.0,3.0,4.0,1.01888
bodily_injuries,1000.0,0.992,0.0,0.0,1.0,2.0,2.0,0.820127
witnesses,1000.0,1.487,0.0,1.0,1.0,2.0,3.0,1.111335
total_claim_amount,996.0,52767.46988,100.0,41812.5,57935.0,70620.0,114920.0,26405.348039
injury_claim,999.0,7434.944945,0.0,4290.0,6780.0,11310.0,21450.0,4883.158265
property_claim,999.0,7398.628629,0.0,4440.0,6750.0,10890.0,23670.0,4827.050887
vehicle_claim,1000.0,37928.95,70.0,30292.5,42100.0,50822.5,79560.0,18886.252893
auto_year,1000.0,2005.103,1995.0,2000.0,2005.0,2010.0,2015.0,6.015861

### Missing Values

In [7]:
df = df.replace( '?',np.nan)

df.isnull().sum()

months_as_customer               0
age                              2
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                2
policy_annual_premium            3
umbrella_limit                   0
insured_zip                      0
insured_sex                      0
insured_education_level          1
insured_occupation               0
insured_hobbies                  2
insured_relationship             0
capital-gains                    2
capital-loss                     0
incident_date                    0
incident_type                    0
collision_type                 178
incident_severity                0
authorities_contacted           93
incident_state                   2
incident_city                    0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                360
bodily_injuries                  0
witnesses                        0
police_report_available        343
total_claim_amount               4
injury_claim                     1
property_claim                   1
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
dtype: int64

### Handling missing values

In [8]:
def fill_nans_all_columns(df):
    
    for column_name in df.columns:
        if df[column_name].dtype == 'object':
            mode = df[column_name].mode().iloc[0]
            df[column_name] = df[column_name].fillna(mode)
        else:
            mean = df[column_name].mean()
            df[column_name] = df[column_name].fillna(mean)
    return df

fill_nans_all_columns(df)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,2,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,0,NO,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,3,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,2,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,1,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38.0,941851,1991-07-16,OH,500/1000,1000.0,1310.80,0,431289,...,1,NO,87200.0,17440.0,8720.0,61040,Honda,Accord,2006,N
996,285,41.0,186934,2014-01-05,IL,100/300,1000.0,1436.79,0,608177,...,3,NO,108480.0,18080.0,18080.0,72320,Volkswagen,Passat,2015,N
997,130,34.0,918516,2003-02-17,OH,250/500,500.0,1383.49,3000000,442797,...,3,YES,67500.0,7500.0,7500.0,52500,Suburu,Impreza,1996,N
998,458,62.0,533940,2011-11-18,IL,500/1000,2000.0,1356.92,5000000,441714,...,1,YES,46980.0,5220.0,5220.0,36540,Audi,A5,1998,N
999,456,60.0,556080,1996-11-11,OH,250/500,1000.0,766.19,0,612260,...,3,NO,5060.0,460.0,920.0,3680,Mercedes,E400,2007,N

In [9]:
df.isnull().any().sum()

0

In [10]:
df_new=df.copy()

In [11]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,2,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,0,NO,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,3,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,2,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,1,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N

# FEATURE ENGEERING

In [12]:
bin_edges = [0, 30, 55, 100]  # Define the bin edges
bin_labels = ['Young Adult', 'Middle Aged', 'Elderly']  # Corresponding labels for each bin

# Create a new column based on the bin labels
df_new['ages_category'] = pd.cut(df_new['age'], bins=bin_edges, labels=bin_labels)

In [13]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,ages_category
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y,Middle Aged
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,NO,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y,Middle Aged
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N,Young Adult
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y,Middle Aged
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N,Middle Aged

In [14]:
bin_edges_customer = [0, 25, 150, 500]  # Define the bin edges
bin_labels_customer = ['New Client', 'Established Client', 'Long-Term Client']  # Corresponding labels for each bin

# Create a new column based on the bin labels
df_new['customer_category'] = pd.cut(df_new['months_as_customer'], bins=bin_edges_customer, labels=bin_labels_customer)

## Creating New Features

In [15]:
df_new["Contract Years"] = df_new["months_as_customer"]/12

In [16]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,ages_category,customer_category,Contract Years
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,6510.0,13020.0,52080,Saab,92x,2004,Y,Middle Aged,Long-Term Client,27.333333
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,780.0,780.0,3510,Mercedes,E400,2007,Y,Middle Aged,Long-Term Client,19.000000
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,7700.0,3850.0,23100,Dodge,RAM,2007,N,Young Adult,Established Client,11.166667
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y,Middle Aged,Long-Term Client,21.333333
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,1300.0,650.0,4550,Accura,RSX,2009,N,Middle Aged,Long-Term Client,19.000000

## Feature Joining

In [17]:
df_new['total_premiums_paid'] = (df_new['policy_annual_premium']/12) * df_new['months_as_customer']

In [18]:
df_new['net_value_of_customer'] = df_new['total_premiums_paid'] - df_new['total_claim_amount']

In [19]:
df_new['Vehicle_Age']=2024-df_new['auto_year']
df_new.drop(columns='auto_year', axis=1)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,vehicle_claim,auto_make,auto_model,fraud_reported,ages_category,customer_category,Contract Years,total_premiums_paid,net_value_of_customer,Vehicle_Age
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,52080,Saab,92x,Y,Middle Aged,Long-Term Client,27.333333,38455.540000,-33154.460000,20
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,3510,Mercedes,E400,Y,Middle Aged,Long-Term Client,19.000000,22747.180000,17677.180000,17
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,23100,Dodge,RAM,N,Young Adult,Established Client,11.166667,15780.063333,-18869.936667,17
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,50720,Chevrolet,Tahoe,Y,Middle Aged,Long-Term Client,21.333333,30202.453333,-33197.546667,10
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,4550,Accura,RSX,N,Middle Aged,Long-Term Client,19.000000,30094.290000,23594.290000,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38.0,941851,1991-07-16,OH,500/1000,1000.0,1310.80,0,431289,...,61040,Honda,Accord,N,Middle Aged,New Client,0.250000,327.700000,-86872.300000,18
996,285,41.0,186934,2014-01-05,IL,100/300,1000.0,1436.79,0,608177,...,72320,Volkswagen,Passat,N,Middle Aged,Long-Term Client,23.750000,34123.762500,-74356.237500,9
997,130,34.0,918516,2003-02-17,OH,250/500,500.0,1383.49,3000000,442797,...,52500,Suburu,Impreza,N,Middle Aged,Established Client,10.833333,14987.808333,-52512.191667,28
998,458,62.0,533940,2011-11-18,IL,500/1000,2000.0,1356.92,5000000,441714,...,36540,Audi,A5,N,Elderly,Long-Term Client,38.166667,51789.113333,4809.113333,26
999,456,60.0,556080,1996-11-11,OH,250/500,1000.0,766.19,0,612260,...,3680,Mercedes,E400,N,Elderly,Long-Term Client,38.000000,29115.220000,24055.220000,17

In [20]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,auto_make,auto_model,auto_year,fraud_reported,ages_category,customer_category,Contract Years,total_premiums_paid,net_value_of_customer,Vehicle_Age
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,Saab,92x,2004,Y,Middle Aged,Long-Term Client,27.333333,38455.540000,-33154.460000,20
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,Mercedes,E400,2007,Y,Middle Aged,Long-Term Client,19.000000,22747.180000,17677.180000,17
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,Dodge,RAM,2007,N,Young Adult,Established Client,11.166667,15780.063333,-18869.936667,17
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,Chevrolet,Tahoe,2014,Y,Middle Aged,Long-Term Client,21.333333,30202.453333,-33197.546667,10
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,Accura,RSX,2009,N,Middle Aged,Long-Term Client,19.000000,30094.290000,23594.290000,15

In [21]:
df_new.to_csv('Advanced Features Claims Data.csv')